services:
  
  postgres:
    image: postgres:16
    env_file:
    - .env
    ports:
    - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
    - ./pgdata:/var/lib/postgresql/data
    restart: always
  
  backend:
    build: ./backend
    env_file:
    - ./backend/.env
    depends_on:
      postgres:
        condition: service_healthy
    ports:
    - "8000:8000"
    restart: always

  frontend:
    build: ./frontend
    ports:
    - "5173:5173"
    - "3000:3000"
    env_file:
    - ./frontend/.env
    depends_on:
    - backend
    restart: always