name: CI Pipeline

on:
  push:
    branches:
    - main
  pull_request:
    branches: 
    - main

jobs: 
  build:
     name: BACKEND-FRONTEND Build
     runs-on: ubuntu-latest

     steps:
       - name: checking codes
         uses: actions/checkout@v4

       - name: python backend
         uses: actions/setup-python@v5
         with:
           python-version: "3.13.1"
        
       - name: Installing backend dependencies
         working-directory: backend
         run: |
           python -m pip install --upgrade pip
           pip install -r requirements.txt

       - name: react frontend
         uses: actions/setup-node@v4
         with:
           node-version: "20"

       - name: Installing frontend dependancies
         working-directory: frontend
         run: npm install

       - name: Build frontend
         working-directory: frontend
         run: npm run build

  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs: build

    steps:
       - name: checking codes
         uses: actions/checkout@v4

       - name: python backend
         uses: actions/setup-python@v5
         with:
           python-version: "3.13.1"
        
       - name: Installing backend dependencies
         working-directory: backend
         run: |
           python -m pip install --upgrade pip
           pip install -r requirements.txt

       - name: run lint for backend
         working-directory: backend
         run: flake8 .


       - name: react frontend
         uses: actions/setup-node@v4
         with:
           node-version: "20"

       - name: Installing frontend dependancies
         working-directory: frontend
         run: npm install

       - name: Build frontend
         working-directory: frontend
         run: npm run build

       - name: run lint for frontend
         working-directory: frontend
         run: npm run lint


  # docker:
  #   name: docker build and version strategy
  #   runs-on: ubuntu-latest
  #   needs: lint

  #   steps:
  #     - name: checking code
  #       uses: actions/checkout@v4


    
